<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>My first dates site</title>
	<meta charset="utf-8">
</head>

<body>

<h1>This is my about page</h1>
<p>
	Our dates come from a small place far far away...<a href="https://www.google.co.il/maps/place/Ein+Yahav/@30.6551213,35.2187103,14z/data=!3m1!4b1!4m5!3m4!1s0x1503d4e8f7ecd4c7:0x1f006bb1429e2c36!8m2!3d30.658757!4d35.239656">Take look how far it is!</a>
	<br/>
	<br/>
	We are now doing <mark>special deliveries</mark> directly to the office, each <b>1 <abbr title="Kilo Grams">KG</abbr> box</b> of large dates cost only <i>40 NIS!</i>
	<br/>
	My mom love those dates so much and I'm buying 3 KG per week! you have to try!
	<br/>
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSdqcYuA_ig9JpfBksYilO58myz7a0Qrlja3SRTrh4RCMXHTNQ/viewform">Here you can place your order with the amount of dates you wish to get!</a>
</p>
<p> Go back <%= link_to 'Home', pages_home_path %> </p>

</body>
</html>