<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>My first dates site</title>
	<meta charset="utf-8">
</head>

<body>

<h1 >Welcome to my amazing dates site!</h1>
<hr>
<p title="Order now!"> Here are some very good dates!
	<br/>		
	<%= image_tag "IMG-20160909-WA0003.jpg", :alt => "Dates :)",size: "200x100" %>
	<br/>	

	For more information go to <%= link_to 'About', pages_about_path %> page
</p>

<address>
	Ben Sivan<br>
	Moshav Ein Yahav<br>
	052-3-386-019
</address>

</body>
</html>

